<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>钉钉自动打卡脚本生成器</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4; }
        header { background-color: #007bff; color: white; padding: 15px 20px; text-align: center; }
        .container { display: flex; justify-content: space-between; padding: 20px; }
        .editor-section { width: 100%; background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); height: 70vh; margin: 10px auto 10px 10px; max-width: 1200px; min-width: 400px; }
        #editor { height: 90%; }
        .editor-buttons { padding: 10px; background-color: #007bff; border: none; color: white; font-weight: bold; border-radius: 5px; cursor: pointer; margin: 10px 10px 0 0; }
        .editor-buttons:hover { background-color: #0056b3; }
        footer { background-color: #f4f4f4; text-align: center; padding: 10px; margin-top: 20px; font-size: 14px; color: #777; }
        .form-container { margin: 10px 10px 10px auto; padding: 20px; background-color: white; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); max-width: 400px; min-width: 400px; }
        .form-group { position: relative; display: flex; align-items: start; margin-bottom: 15px; background-color: #f5f5f5; padding: 10px; border-radius: 8px; }
        .form-group[data-tooltip]:hover::after { content: attr(data-tooltip); position: absolute; left: 50%; bottom: 100%; transform: translateX(-50%); background-color: #333; color: #fff; padding: 5px 10px; border-radius: 5px; white-space: nowrap; font-size: 12px; opacity: 1; transition: opacity 0.2s; visibility: visible; }
        .form-group[data-tooltip]:hover::before { content: ''; position: absolute; left: 50%; bottom: 100%; transform: translateX(-50%); border: 5px solid transparent; border-top-color: #333; margin-bottom: -5px; opacity: 1; transition: opacity 0.2s; visibility: visible; }
        .form-group label { flex: 3; margin-right: 10px; font-weight: bold; }
        .form-group input[type="text"] { flex: 2; padding: 5px; border: 1px solid #ced4da; border-radius: 5px; }
        .form-group-spt { display: flex; align-items: start; margin-bottom: 15px; background-color: #f5f5f5; padding: 10px; border-radius: 8px; }
        .form-group-spt label { flex: 1; margin-right: 10px; font-weight: bold; }
        .form-group-spt input[type="text"] { flex: 4; padding: 5px; border: 1px solid #ced4da; border-radius: 5px; }
        .btn-submit { width: 100%; padding: 10px; background-color: #007bff; border: none; color: white; font-weight: bold; border-radius: 5px; cursor: pointer; }
        .btn-submit:hover { background-color: #0056b3; }
        .second-options { margin: 0 0 10px 10px; background-color: #f8f9fa; border-radius: 8px; padding: 10px; }
        #passwordField { margin-left: 10px; }
        #apiHubsKeyField { margin-left: 10px; }
        #wxPushSetting { margin: 10px; padding: 10px; background-color: #f8f9fa; border-radius: 8px; }
    </style>
</head>
<body>

<header>
    <h1>钉钉自动打卡脚本生成器</h1>
</header>

<div class="container">
    <div class="form-container">
        <form id="settingsForm" onsubmit="event.preventDefault(); generateScript();">
            <div class="form-group" data-tooltip="可能部分机型不可用，请慎用。">
                <label for="delayCheck">随机延时打卡</label>
                <input type="checkbox" id="delayCheck" name="delayCheck" onclick="toggleDelayCheck()">
            </div>
            <div id="delayTimeBox" class="form-group" style="display:none; margin-left: 10px;">
                <label for="delayTime">随机延时时间（分钟）</label>
                <input type="text" id="delayTime" name="delayTime" placeholder="请输入延时时间" value="30" oninput = "value=value.replace(/[^\d]/g,'')">
            </div>
            <div class="form-group" data-tooltip="屏幕分辨率太低可能会导致元素遮挡，影响自动操作。">
                <label for="showConsole">显示控制台</label>
                <input type="checkbox" id="showConsole" name="showConsole">
            </div>
            <div class="form-group">
                <label for="unlockPhone">是否需要解锁手机</label>
                <input type="checkbox" id="unlockPhone" name="unlockPhone" onclick="toggleUnlockOptions()">
            </div>
            <div id="unlockOptions" class="second-options" style="display:none;">
                <div class="form-group">
                    <label for="noPassword">无密码</label>
                    <input type="radio" id="noPassword" name="unlockMethod" value="noPassword" checked="checked"
                           onclick="togglePasswordField()">
                </div>
                <div class="form-group">
                    <label for="passwordUnlock">密码解锁</label>
                    <input type="radio" id="passwordUnlock" name="unlockMethod" value="passwordUnlock"
                           onclick="togglePasswordField()">
                </div>
                <div class="form-group">
                    <label for="patternUnlock">九宫格滑动解锁</label>
                    <input type="radio" id="patternUnlock" name="unlockMethod" value="patternUnlock"
                           onclick="togglePasswordField()">
                </div>
            </div>
            <div class="form-group" id="passwordField" style="display:none;">
                <label for="unlockPassword">解锁密码</label>
                <input type="text" id="unlockPassword" name="unlockPassword" placeholder="请输入解锁密码">
            </div>
            <div class="form-group">
                <label for="skipHoliday">跳过休息日</label>
                <input type="checkbox" id="skipHoliday" name="skipHoliday" onclick="toggleSkipHoliday()">
            </div>
            <div id="skipHolidayOptions" class="second-options" style="display:none;">
                <div class="form-group" data-tooltip="不靠谱，可能因为页面加载太慢导致识别不到">
                    <label for="ocrSkip">OCR识别打卡界面</label>
                    <input type="radio" id="ocrSkip" name="skipHolidayMode" value="ocrSkip" checked="checked"
                           onclick="toggleApiHubsApiKey()">
                </div>
                <div class="form-group" data-tooltip="付费接口">
                    <label for="apiHubs">ApiHubs接口</label>
                    <input type="radio" id="apiHubs" name="skipHolidayMode" value="apiHubs"
                           onclick="toggleApiHubsApiKey()">
                </div>
                <div class="form-group" id="apiHubsKeyField" style="display:none;">
                    <label for="apiHubsKey">ApiHubs密钥</label>
                    <input type="text" id="apiHubsKey" name="apiHubsKey" placeholder="请输ApiHubs ApiKey">
                </div>

                <p style="padding-left: 10px; margin: auto">
                    <a href="http://www.apihubs.cn/#/holiday">申请ApiHubs接口</a>
                </p>
            </div>
            <div class="form-group">
                <label for="companyName">钉钉上显示的企业全称</label>
                <input type="text" id="companyName" name="companyName" placeholder="请输入公司全称">
            </div>
            <div class="form-group">
                <label for="tripCheck">外勤打卡</label>
                <input type="checkbox" id="tripCheck" name="tripCheck">
            </div>
            <div class="form-group">
                <label for="wxPush">微信推送</label>
                <input type="checkbox" id="wxPush" name="wxPush" onclick="toggleWxPusher()">
            </div>

            <div id="wxPushSetting" style="display:none;">
                <img src="https://wxpusher.zjiecode.com/api/qrcode/RwjGLMOPTYp35zSYQr0HxbCPrV9eU0wKVBXU1D5VVtya0cQXEJWPjqBdW3gKLifS.jpg" alt="" width="100px" height="100px">
                <p>扫码关注推送公众号，并获取SPT，将获取到的SPT填写到下方。</p>
                <p>如取消了关注公众号则无法收到推送，如重新关注需重新获取SPT。</p>
                <div class="form-group-spt">
                    <label for="wxSPT">SPT</label>
                    <input type="text" id="wxSPT" name="wxSPT">
                </div>
            </div>
            <div>
                <button type="submit" class="btn-submit">生成脚本</button>
            </div>
        </form>
    </div>

    <div class="editor-section">
        <div id="editor"></div>
        <div>
            <button class="editor-buttons" onclick="copyToClipboard()">复制到剪贴板</button>
            <button class="editor-buttons" onclick="saveToFile()">保存.js文件</button>
        </div>
    </div>
</div>

<footer>
    制作者：You know who 😏
</footer>

<script src='/static/js/monaco/min/vs/loader.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.1/beautify.min.js" integrity="sha512-kElKX79OYM/vf2AU+lF4Zsi3AnKds70Mc6fRBImpwQzdZNbju6SyeTBBOUe1N9q1P456v1F01HAsjjWZkXIS4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.1/beautify-html.min.js" integrity="sha512-9oipLBY8N19ej4XlfPFHfdKkqn8FnAEsucbkycMoLthN77bImVWZ0GtLMfCrXBqpTetBn2eM9N1pliZJC7IrNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.1/beautify-css.min.js" integrity="sha512-GS3bO88bff1ieJ8ZKeWhjlK5Y6Mwvu4WmQ8gdIgbeSyp7iBaqSVxCUGgOV9RjiiQgoci/HW9n7IVn3o670AY8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    require.config({paths: {'vs': '/static/js/monaco/min/vs'}});
    let editor;
    require(['vs/editor/editor.main'], function () {
        editor = monaco.editor.create(document.getElementById('editor'), {
            value: "// 你的JavaScript代码将在此处生成...",
            language: 'javascript',
            theme: 'vs-dark',
            automaticLayout: true
        });
    });

    // 控制“延时打卡”选项区域的显示和隐藏
    function toggleDelayCheck() {
        var delayCheck = document.getElementById('delayCheck');
        var delayTimeGroup = document.getElementById('delayTimeBox');
        delayTimeGroup.style.display = delayCheck.checked ? 'flex' : 'none';
    }

    // 控制“跳过休息日”选项区域的显示和隐藏
    function toggleSkipHoliday() {
        var skipHolidayCheckbox = document.getElementById('skipHoliday');
        var skipHolidayOptions = document.getElementById('skipHolidayOptions');
        skipHolidayOptions.style.display = skipHolidayCheckbox.checked ? 'block' : 'none';

    }

    // 控制“ApiHubs密钥”输入框的显示和隐藏
    function toggleApiHubsApiKey() {
        var skipHolidayMode = document.querySelector('input[name="skipHolidayMode"]:checked');
        var apiHubsKeyField = document.getElementById('apiHubsKeyField');
        apiHubsKeyField.style.display = skipHolidayMode && skipHolidayMode.value === "apiHubs" ? 'flex' : 'none';
    }

    // 控制“解锁选项”区域的显示和隐藏
    function toggleUnlockOptions() {
        var unlockCheckbox = document.getElementById('unlockPhone');
        var unlockOptions = document.getElementById('unlockOptions');
        unlockOptions.style.display = unlockCheckbox.checked ? 'block' : 'none';
        togglePasswordField();
    }

    // 控制“解锁密码”输入框的显示和隐藏
    function togglePasswordField() {
        var unlockMethod = document.querySelector('input[name="unlockMethod"]:checked');
        var passwordField = document.getElementById('passwordField');
        if (unlockMethod && (unlockMethod.value === "passwordUnlock" || unlockMethod.value === "patternUnlock")) {
            passwordField.style.display = 'flex';
        } else {
            passwordField.style.display = 'none';
        }
    }

    // 控制“微信推送”设置的显示和隐藏
    function toggleWxPusher() {
        var unlockMethod = document.querySelector('input[name="wxPush"]:checked');
        var wxPushSetting = document.getElementById('wxPushSetting');
        if (unlockMethod) {
            wxPushSetting.style.display = 'block';
        } else {
            wxPushSetting.style.display = 'none';
        }
    }

    function generateScript() {
        let delayCheck = document.getElementById('delayCheck').checked;
        let delayTime = document.getElementById('delayTime').value;
        let showConsole = document.getElementById('showConsole').checked;
        let unlockPhone = document.getElementById('unlockPhone').checked;
        let unlockMethod = document.querySelector('input[name="unlockMethod"]:checked');
        let skipHoliday = document.getElementById('skipHoliday').checked;
        let skipHolidayMode = document.querySelector('input[name="skipHolidayMode"]:checked');
        let apiHubsToken = document.getElementById('apiHubsKey').value;
        let companyName = document.getElementById('companyName').value;
        let tripCheck = document.getElementById('tripCheck').checked;
        let unlockPassword = document.getElementById('unlockPassword').value;
        let wxPush = document.getElementById('wxPush').checked;
        let wxSPT = document.getElementById('wxSPT').value;

        const data = {
            delayCheck: delayCheck,
            delayTime: delayCheck ? delayTime : null,
            showConsole: showConsole,
            unlockPhone: unlockPhone,
            unlockMethod: unlockMethod ? unlockMethod.value : null,
            skipHoliday: skipHoliday,
            skipHolidayMode: skipHolidayMode ? skipHolidayMode.value : null,
            apiHubsToken: apiHubsToken,
            companyName: companyName,
            tripCheck: tripCheck,
            unlockPassword: unlockPassword,
            wxPush: wxPush,
            wxSPT: wxSPT
        };

        fetch('/dingtalk_js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.text())
            .then(data => {
                if (data) {
                    editor.setValue(data);
                } else {
                    editor.setValue('// 生成脚本失败，请检查输入');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                editor.setValue('// 请求失败，请稍后重试');
            });
    }

    function copyToClipboard() {
        const code = editor.getValue();
        navigator.clipboard.writeText(code).then(() => {
            alert('代码已复制到剪贴板');
        }).catch(err => {
            console.error('复制失败: ', err);
        });
    }

    function saveToFile() {
        const code = editor.getValue();
        const blob = new Blob([code], {type: "text/javascript"});
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "DingTalk.js";
        link.click();
        URL.revokeObjectURL(link.href);  // 释放资源
    }
</script>
</body>
</html>
